body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
  color: #383737;
}
h1 {
  color: #383737;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-top: 15px;
  margin-bottom: 0;
}
h2 {
  color: #383737;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 10px;
}
h3 {
  color: #383737;
  font-size: 14px;
  font-weight: 200;
  line-height: 28px;
  margin: 0 auto;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  list-style: none;
}
li:first-letter {
  text-transform: capitalize;
}
a {
  color: #dadde1;
  text-decoration: none;
}
footer {
  color: #dadde1;
  margin-left: 50px;
}
div .weather-details {
  color: #383737;
  font-weight: 100;
  margin-top: 50px;
  margin-bottom: 40px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.weather-app-wrapper {
  position: relative;
  background: linear-gradient(-225deg, #5d9fff 0%, #b8dcff 48%, #6bbbff 100%);
  max-width: 800px;
  margin: 25px auto;
  padding: 15px;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
}
.form-control {
  background-color: rgba(255, 255, 255, 0.486);
  margin-bottom: 20px;
}
.search-button {
  padding: 0 auto;
}
.current-location-button {
  padding: 0;
}
.weather-overview {
  padding: 10px 0;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.486);
  border-radius: 25px;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  max-width: 464px;
  text-align: center;
}

.weather-temperature-icon img {
  height: 80px;
  width: 80px;
  font-size: 44px;
  margin-bottom: 0;
}
.temperature {
  color: rgb(33, 33, 33);
  font-size: 44px;
  font-weight: 400;
  line-height: 1;
}
.degrees-fahrenheit {
  font-size: 12px;
  margin-top: -34px;
}
.col-2 {
  width: 19%;
}
.col-3 {
  width: 36%;
  padding-top: 15px;
}
.with-border {
  border-right-color: rgba(86, 61, 124, 0.2);
  border-right-style: solid;
  border-right-width: 2px;
}

span#wind-speed {
  padding-left: 48px;
}
.forecast-row {
  margin-top: 50px;
}
.daily-weather-forecast {
  background-color: #fff;
  text-align: center;
  line-height: 28px;
  border-radius: 15px;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  padding: 20px 10px;
  margin: 10px 20px;
}
.daily-weather-forecast img {
  width: 65px;
  height: 71px;
}
.weather-forecast-date {
  font-size: 16px;
  color: rgb(33, 33, 33);
}
.weather-forecast-temperatures {
  font-size: 16px;
}
.weather-forecast-max {
  font-weight: 200;
}
