body {
  background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
  color: #383737;
}
h1 {
  color: #383737;
  font-size: 24px;
  font-weight: 200;
  line-height: 28px;
  margin-bottom: 0;
}
h3 {
  color: #383737;
  font-size: 18px;
  font-weight: 200;
  line-height: 28px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  list-style: none;
}
li:first-letter {
  text-transform: capitalize;
}
a {
  color: #dadde1;
  text-decoration: none;
}
footer {
  color: #dadde1;
}
div .row .weather-details {
  color: #383737;
  font-weight: 100;
  margin-top: 50px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.weather-app-wrapper {
  max-width: 800px;
  margin: 30px auto;
}
.weather-app {
  padding: 50px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.315);
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
}
.form-control {
  background-color: rgba(255, 255, 255, 0.486);
  margin-bottom: 20px;
}
.search-button {
  padding: 0 auto;
}
.current-location-button {
  padding: 0;
}
.weather-overview {
  padding: 20px 0;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.486);
  border-radius: 20px;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  width: 45%;
  text-align: center;
}

.weather-temperature-icon img {
  height: 44px;
  width: 44px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.temperature {
  color: rgb(33, 33, 33);
  font-size: 44px;
  font-weight: 200;
  line-height: 1;
}
.units {
  position: relative;
  font-size: 16px;
}
.units .active {
  color: rgb(33, 33, 33);
  cursor: default;
}
.units .active:hover {
  text-decoration: none;
}
.weather-details {
  margin-top: 50px;
}
.with-border {
  border-right-color: rgba(86, 61, 124, 0.2);
  border-right-style: solid;
  border-right-width: 2px;
}

.weather-forecast {
  margin-top: 100px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.486);
  line-height: 28px;
  border-radius: 20px;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  padding: 20px;
}
.weather-forecast-date {
  font-size: 16px;
  color: rgb(33, 33, 33);
}
.weather-forecast-temperatures {
  font-size: 16px;
}
